*{
    background-color: bisque;
}
.sidepagebox h5{
    background-color: rgb(240, 180, 106);
}
.sidepagebox h3{
    background-color: rgb(240, 180, 106);
}
.sidepagebox {
    background-color: rgb(240, 180, 106);
}